:root {
  --mainFont: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-color: #3cdbc0;
} */

.header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--mainFont);
  color: #4a4a4a;
  background-color: white;
}

.imageContainer {
  width: 155px;
  margin-top: 10px;
}

.imageContainer img {
  width: 100%;
}

.menu {
  margin: 10px 0px 13px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  list-style-type: none;
  display: inline-flex;
}

.menu li {
  display: inline;
  margin: 0 10px;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #3cdbc0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: var(--mainFont);
  color: white;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.lineBreak {
  display: block;
}
